DEV_APP_URL=http://localhost:5173
DEV_API_URL=http://localhost:5000

PROD_APP_URL=https://ops.notioninsurance.in
PROD_API_URL=https://www.ops.technovani.com

VITE_PUBLIC_SITE_URL=https://www.example.com
