@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}


/* Add this to your CSS file */
.custom-calendar .react-datepicker__month-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 months per row */
  gap: 12px; /* spacing between months */
}

.custom-calendar .react-datepicker__month-text {
  padding: 10px 16px;   /* ✅ extra padding */
  border-radius: 8px;   /* make it rounded */
  cursor: pointer;
}

.custom-calendar .react-datepicker__month-text:hover {
  background-color: #e0f2fe; /* light hover effect */
}
